<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Indicate that the camera is an optional feature -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TseaAfricaApp"
        tools:targetApi="31">

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Team"
            android:exported="false" />
        <activity
            android:name=".UserPrefence"
            android:exported="false" /> <!-- Activities from both branches -->
        <activity
            android:name=".RecipeEntry"
            android:exported="false" />
        <activity
            android:name=".Cookware"
            android:exported="false" />
        <activity
            android:name=".RecipePage"
            android:exported="false" />
        <activity
            android:name=".recipe_page"
            android:exported="false"
            android:theme="@style/Theme.TseaAfricaApp" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".PersonalisedMeals"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" /> <!-- Additional activities from the other branch -->
        <activity
            android:name=".Favourites"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="true" /> <!-- MainActivity and WelcomePage -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".WelcomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>